.nav1{
  margin: 0%;
  /* z-index: 1; */
  
}

.section{

  min-height: 40vh;
  min-width: 100vw;
  

}



.title{
    text-align: center;

    margin-top: 40px;
}

.filtersidebar{
  height: fit-content;
  background-color: rgb(7,10,53);
  width: 15vw;
  margin: 20px 20px;
  position: fixed;
  right: 1;
  top: 33%;
  width: 16em;
  margin-top: -2.5em;
  padding: 30px;
  border-radius: 17px;
}

.subcateg{
  max-width: 20vw;
  max-height: 30vh;
}
.subcateg button{
      margin: 4px;     
}

.main{
  display: flex;
  align-items: center;

  
  
  float: right;

  min-width: 2000px;flex-wrap: wrap;
  border-radius: 10px;
  margin: 10px 0px;
 
  
  
  
  
  

  
  
  
  padding: 20px;
  


  


}



.filter{
  color: #fff;
}

.separation{
    height: 20vh;
    max-height: 20vh;
    color: #fff;
}
/* Business card styles */
.business-cards {
    display: flex;
    flex-direction: column; /* Arranging cards vertically */

    gap: 20px;
    justify-content: center;
    display: flex;
  }
  
  .business-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;

    width: 700px; /* Adjusting the width to make the cards slightly longer */

    display: flex;
    background-color: #fff;
    text-align: left;
    transition: transform 0.2s ease-in-out;
    display: flex;
  }

  .bsns_sctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bsns_crtl{
    padding: 40px;
  }

  .kanu{
    margin-right: 20px;
  }
  
  .business-card:hover {
    transform: scale(1.05);
  }
  
  .business-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .business-card p {
    margin: 5px 0;
  }
  


.sort  {
    border: 1px solid #162953;
    outline: none;
    border-radius: 64px;
    padding: 8px 14px;
    background: #fff;
    color: black;

}
.sort select{ 
    border: 1px solid #14213d;
    outline: none;
    border-radius: 64px;
    padding: 8px 24px;
    background: #fff;
    color: black;

}
.sort:hover{
    
    border: 1px solid #ff5c35;
    color: #fff;
    background-color: #ff5c35;

}
  .recent-activity-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
    background-color: rgb(7,10,53);
    padding: 60px;
    
  }
  
  .recent-activity-card {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    box-shadow: 0 3px 4px rgba(1, 1, 33, 0.1);
    padding: 20px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    transition: transform 0.2s ease-in-out;
    justify-content: space-evenly;
    
  }
  
  .recent-activity-card:hover {
    transform: scale(1.05);
  }
  
  .recent-activity-card p {
    margin: 5px 0;
  }

  .recent-heading {
    text-align: center;
  
  }
  .recent-bus-name {
    color: rgb(32, 123, 151);
    font-weight: bolder; 

  }
  .recent-user-name {
    font-weight: bolder; 
    align-items: center;
    display: inline-block; 
    margin-right: 10px;
    justify-content: space-evenly;

  }

  .recent-user-name :hover{
    cursor: crosshair;
  }

  .recent-bus-name :hover{
    cursor: crosshair;
  }


/* ReviewDetail*/


.review-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.review-card {
  padding: 10px;
}

.user-name, .business-id {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.comment {
  margin-top: 10px;
  font-size: 16px;
}

.rating {
  margin-top: 5px;
  font-size: 16px;
  color: #FFA500; /* Changing the color to your liking (e.g., orange) */
}

.created-at, .updated-at {
  margin-top: 5px;
  font-style: italic;
  color: #777;
  font-size: 14px;
}

/* Add a border and padding to separate reviews */
.review-card + .review-card {
  border-left: 1px solid;
  padding-top: 10px;
  margin-top: 10px;
}

.review-container{
  
}

.review_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

