.section{

    min-height: 60vh;
    min-width: 100vw;

}
/* BusinessList.css */

.business-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.business-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  background-color: #fff;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.business-card:hover {
  transform: scale(1.05);
}

.business-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.business-card p {
  margin: 5px 0;
}


