body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* HOME-SECTION */
.hme_crsl_img{
  height: 95vh;
  object-fit: cover;
}

.hme_crd{
  height: 190px;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  width: 250px;
  border: 1px solid hsl(0, 0%, 76%);
  justify-content: center;
  align-items: center;
}

#name{
  margin-left: 30px;
}

.navmargin{
  margin-left: 300px;
}

#search{
  margin-left: 180px;
}

#user{
  margin-right: 30px;
}

